<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Basic Site Template</title>
    </head>

    <body>
        <!-- index -->
        <h1>{{title}}</h1>
        <p>{% autoescape off %}{{ cal }} {% endautoescape %}</p>

        <!--sample  -->
        <h2>Add Two Numbers</h2>
        <script type="text/javascript">
            function myfunc(){
            var n1= document.getElementById("num1").value;
            var n2= document.getElementById("num2").value;
            var n3=parseInt(n1)+parseInt(n2);
            document.getElementById("para1").innerHTML="The sum of two numbers is "+n3;
            }
        </script>
        Enter num1: <input type="text" id="num1"><br>
        Enter num2: <input type="text" id="num2"><br>
        <button onclick="myfunc()">Add</button><br\>
        <p id="para1"></p>

        <!-- ques1 -->
        <h2>Ques-1</h2>
        <div class="main"> 
            <form action="" method="get"> 
                <label for="name">Name:</label> 
                <input type="text" id="first" name="first"> <br>     
            
                <label for="email">Email:</label> 
                <input type="email" id="email" name="email" 
                       placeholder="Enter your email" required> 
      
                <label for="dob">Date of Birth:</label> 
                <input type="date" 
                       id="dob" name="dob" 
                       placeholder="Enter your DOB" required> 
      
                <label for="password">Password:</label> 
                <input type="password" id="password" 
                       name="password"
                       placeholder="Enter your password"
                       pattern= 
                       "^(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9])\S{8,}$" required                    
                       title="Password must contain at least one number,  
                           one alphabet, one symbol, and be at  
                           least 8 characters long"> 
      
                <label for="repassword">Re-type Password:</label> 
                <input type="password" id="repassword" 
                       name="repassword" 
                       placeholder="Re-Enter your password" required> 
                <span id="pass"></span> 
      
                <label for="mobile">Contact:</label> 
                <input type="text" id="mobile" 
                       name="mobile" 
                       placeholder="Enter your Mobile Number" required 
                       maxlength="10"> 
      
                <label for="gender">Gender:</label> 
                <select id="gender" name="gender" required> 
                    <option value="male">Male</option> 
                    <option value="female">Female</option> 
                    <option value="other">Other</option> 
                </select> 
      
                <div class="wrap"> 
                    <button type="submit" onclick="solve()"> 
                      Submit 
                      </button> 
                </div> 
            </form> 
        </div> 

           
    </body>
</html>